body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #7b04fc 0%, #2575fc 100%);
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #fff;
  }
  
  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #ffffff 0%, #e1e1e1 100%);
    border: 2px solid #000;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
   
    background: linear-gradient(135deg, #c1bdbd 0%, #ffffff 100%);
    transition: all 0.3s ease-in-out;
    border-radius: 10px; /* Smooth edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial shadow */
  
    

  }
  
  .square:hover {
    background: linear-gradient(135deg, #ffffff 0%, #c1bdbd 100%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced shadow */
    transform: scale(1.05) rotate(2deg); /* Slight scale and rotate */
    border-radius: 20px; /* More pronounced smooth edges */
  }

  
  
  .status {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background: linear-gradient(135deg, #2196F3, #21CBF3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px rgba(33, 203, 243, 0.7), 0 0 20px rgba(33, 203, 243, 0.7);
    }
    to {
      box-shadow: 0 0 20px rgba(33, 203, 243, 1), 0 0 40px rgba(33, 203, 243, 1);
    }
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
  }
  
  .game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-info {
    margin-top: 20px;
    text-align: center;
  }
  
 
  button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }